# business logic
*.py~
*.vmem
*.pyc
*.raw
README~
case/
venv

# # # # FRONT END # # # # 
# dependencies
static/node_modules

# testing
static/coverage

# production
static/build

# misc
static/.DS_Store
static/.env.local
static/.env.development.local
static/.env.test.local
static/.env.production.local

static/npm-debug.log*
static/yarn-debug.log*
static/yarn-error.log*

# # # # BACK END # # # # 
# Byte-compiled / optimized / DLL files
server/__pycache__/

# Flask stuff:
server/instance/
server/.webassets-cache

# Environments
server/venv/

# # # # EDITOR SPECIFIC # # # #
# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
