<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sherlock</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>Observe Evidence</h1>
	<p> This initial analysis relies on graph theory, link analysis, and data mining in order to provide you with a logical view of the evidence</p>
	<form action="{{ url_for('formulate') }}" method="POST">
	  Source: <input type="text" name="Source">
	  Target: <input type="text" name="Target">
	  <input type="SUBMIT" value="Investigate">
	  </form>
      </div>
    </div>
    <div>
      {% if filename %}<center><img src="/static/{{filename}}.png" width="450" height="450"></center>
      {% else %}
      <center><h3>There has been an error, please submit an issue to the authors.</h3></center>
      {% endif %}
      {% block content %}
      {% endblock %}
      <div>
 	<table style="float: left" border=1>
	<tr>
	  <th>Node</th>
	  <th>Hub</th>
	{% for t in hubs %}
	<tr>
	  <td>{{ t[0] }}</td>
	  <td>{{ t[1] }}</td>
	</tr>
	{% endfor %}
	<caption>The <em>Hub</em> represents a piece of evidence that has contributed to the flow of other pieces of evidence. In other words, it correlates to a high-level user action.</caption>
	</table>
      </div>

      <div>
      <table style="float: right" border=1>
	<tr>
	  <th>Node</th>
	  <th>PageRank</th>
	{% for t in pagerank %}
	<tr>
	  <td>{{ t[0] }}</td>
	  <td>{{ t[1] }}</td>
	</tr>
	{% endfor %}
	<caption>The <em>PageRank</em> represents a piece of evidence that is important based on the information flow of other pieces of evidence. This provides a ranking of evidence.</caption>
      </table>
      </div>

      <div>
      <table style="float: left" border=1>
	<tr>
	  <th>Node</th>
	  <th>Katz Centrality</th>
	{% for t in katz %}
	<tr>
	  <td>{{ t[0] }}</td>
	  <td>{{ t[1] }}</td>
	</tr>
	{% endfor %}
	<caption>The <em>Katz Centrality</em> represents a piece of evidence that determines its influence on other pieces of evidence based on information flow.</caption>
      </table>
      </div>

      <div>
      <table style="float: right" border=1>
	<tr>
	  <th>Node</th>
	  <th>Degree Centrality</th>
	{% for t in dcentrality %}
	<tr>
	  <td>{{ t[0] }}</td>
	  <td>{{ t[1] }}</td>
	</tr>
	{% endfor %}
	<caption>The <em>Degree Centrality</em> looks at how well this piece of evidence is to the rest of the evidence.</caption>
      </table>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
  </html>
